
* {
  margin: 0;
  padding: 0
}

body {
  -moz-osx-font-smoothing: grayscale; /* 消除字体锯齿 moz*/
  -webkit-font-smoothing: antialiased;/* 消除字体锯齿 webkit*/
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}


